.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
  padding: 2rem;
  border-radius: 30px;
}

.auth-box {
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 3rem;
  border-radius: 20px;
  box-shadow:
    0 15px 30px rgba(0, 0, 0, 0.4),
    inset 0 0 20px rgba(255, 255, 255, 0.05);
  max-width: 500px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.auth-box h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  background: linear-gradient(90deg, #320465, #022755);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  
}

.auth-buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.auth-btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #00d2ff, #3a7bd5);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 213, 255, 0.3);
}

.auth-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 213, 255, 0.5);
  background: linear-gradient(135deg, #3a7bd5, #00d2ff);
  color: #ffffff;
}
